{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="http://weibo.com/adolphlwq" class="social-weibo">
                <i class="fa fa-xlg fa-weibo" data-original-title="{{t "Weibo"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/adolphlwq" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="{{t "Github"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="http://music.163.com/#/user/home?id=57203338" class="social-music">
                <i class="fa fa-xlg fa-music" data-original-title="{{t "NeteaseMusic"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://deepsourcecode.io" class="social-mail">
                <i class="fa fa-xlg fa-code" data-original-title="{{t "DeepSourceCode"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" class="social-rss">
                <i class="fa fa-xlg fa-rss" data-original-title="{{t "RSS"}}" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
